.App {
  text-align: center;
}

.App-header {
  background-color: #00ead3;
  min-height: 33vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

.App-middle{
  background-color: #fff5b7;
  min-height: 33vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
}

.App-bottom{
  background-color: #ff449f;
  min-height: 34vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

.App-link {
  color: #61dafb;
}
